*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: #111;
}
div.loader{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: bg 5s ease-in-out infinite;
  
}
div.loader span{
  position: absolute;
  top: 0;
  left: 50%;
  width: 3px;
  height: 50%;
  border-radius: 3px;
  transform: translateX(-50%) rotate(calc((360deg / 40)* var(--i)));
  transform-origin: bottom;
  
}
div.loader span: before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  background:#43cc54 ;
  border-radius: 4px ;
  transform: scaleY(1);
  transform-origin: bottom;
  box-shadow: 0 -5x 5px #43cc54;
  animation: grow 1s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
  
}
@keyframes grow{
  from{
    transform: scaleY(1);
  }
  50%{
    transform: scaleY(1.8);
  }
}
@keyframes bg{
  from{
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  to{
    filter: hue-rotate(360deg);
    transform: rotate(-360deg);
  }
  
